<div class="page-header">
  <h3>Dimension #<%= @dimension.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @dimension.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dimensions" class="btn btn-primary">
        Back
      </a>
      <a href="/dimensions/<%= @dimension.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dimension/<%= @dimension.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Dimension has many subdimensions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Subdimensions
      </li>

      <% @dimension.subdimensions.each do |subdimension| %>
        <li class="list-group-item">
          <a href="/subdimensions/<%= subdimension.id %>">
            <%= subdimension.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/subdimensions/<%= subdimension.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/subdimensions/<%= subdimension.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_subdimension/<%= subdimension.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_subdimension" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dimension_id -->
      <input type="hidden" name="dimension_id" value="<%= @dimension.id %>">

      <!-- Label and input for role_id -->
      <div class="form-group">
        <label for="role_id" class="control-label">
          Role
        </label>

        <%= select_tag(:role_id, options_from_collection_for_select(Role.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for expectation -->
      <div class="form-group">
        <label for="expectation" class="control-label">
          Expectation
        </label>

        <input type="text" id="expectation" name="expectation" placeholder="Expectation" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Subdimension
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
