<div class="page-header">
  <h3>Staffing #<%= @staffing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Project</dt>
      <dd>
        <% if @staffing.project.present? %>
          <a href="/projects/<%= @staffing.project_id %>">
            <%= @staffing.project.name %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @staffing.user.present? %>
          <a href="/users/<%= @staffing.user_id %>">
            <%= @staffing.user.name %>
          </a>
        <% end %>
      </dd>

      <dt>Role</dt>
      <dd>
        <% if @staffing.role.present? %>
          <a href="/roles/<%= @staffing.role_id %>">
            <%= @staffing.role.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/staffings" class="btn btn-primary">
        Back
      </a>
      <a href="/staffings/<%= @staffing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_staffing/<%= @staffing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Staffing has many feedbacks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Feedbacks
      </li>

      <% @staffing.feedbacks.each do |feedback| %>
        <li class="list-group-item">
          <a href="/feedbacks/<%= feedback.id %>">
            <%= feedback.staffing_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/feedbacks/<%= feedback.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/feedbacks/<%= feedback.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_feedback/<%= feedback.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_feedback" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for staffing_id -->
      <input type="hidden" name="staffing_id" value="<%= @staffing.id %>">

      <!-- Label and input for sender_user_id -->
      <input type="hidden" name="sender_user_id" value="<%= current_user.id %>">

      <!-- Label and input for receiver_user_id -->
      <div class="form-group">
        <label for="receiver_user_id" class="control-label">
          Receiver user
        </label>

        <%= select_tag(:receiver_user_id, options_from_collection_for_select(User.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for subdimension_id -->
      <div class="form-group">
        <label for="subdimension_id" class="control-label">
          Subdimension
        </label>

        <%= select_tag(:subdimension_id, options_from_collection_for_select(Subdimension.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for grade -->
      <div class="form-group">
        <label for="grade" class="control-label">
          Grade
        </label>

        <input type="text" id="grade" name="grade" placeholder="Grade" class="form-control" value="">
      </div>

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <input type="text" id="comment" name="comment" placeholder="Comment" class="form-control" value="">
      </div>

      <!-- Label and input for receiver_visible -->
      <div class="checkbox">
        <label for="receiver_visible">
          <input type="checkbox" id="receiver_visible" name="receiver_visible" value="1" <%= "checked" if @feedback.receiver_visible %>>
          Receiver visible
        </label>
      </div>

      <!-- Label and input for mentor_visible -->
      <div class="checkbox">
        <label for="mentor_visible">
          <input type="checkbox" id="mentor_visible" name="mentor_visible" value="1" <%= "checked" if @feedback.mentor_visible %>>
          Mentor visible
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Feedback
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
