<div class="page-header">
  <h3>Mentorship #<%= @mentorship.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Mentee</dt>
      <dd><%= @mentorship.mentee_id %></dd>

      <dt>Mentor</dt>
      <dd><%= @mentorship.mentor_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/mentorships" class="btn btn-primary">
        Back
      </a>
      <a href="/mentorships/<%= @mentorship.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_mentorship/<%= @mentorship.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
