<div class="page-header">
  <h3>Feedback #<%= @feedback.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Staffing</dt>
      <dd><%= @feedback.staffing_id %></dd>

      <dt>Sender user</dt>
      <dd><%= @feedback.sender_user_id %></dd>

      <dt>Receiver user</dt>
      <dd><%= @feedback.receiver_user_id %></dd>

      <dt>Subdimension</dt>
      <dd><%= @feedback.subdimension_id %></dd>

      <dt>Grade</dt>
      <dd><%= @feedback.grade %></dd>

      <dt>Comment</dt>
      <dd><%= @feedback.comment %></dd>

      <dt>Receiver visible</dt>
      <dd><%= @feedback.receiver_visible %></dd>

      <dt>Mentor visible</dt>
      <dd><%= @feedback.mentor_visible %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/feedbacks" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @feedback.sender_user %>
        <a href="/feedbacks/<%= @feedback.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_feedback/<%= @feedback.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
